body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;

}

h3 {
  padding: 3px;
  margin: 15px;
  font-family: Tahoma, sans-serif;
}


.add-btn {
  border-radius: 50%;
  margin-bottom: 19px;
  width: 110px;
  height: 97px;
  border: 0px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: transparent;
}

.add-btn img {
  background-color: transparent;
  border-radius: 50%;
}

.add-btn img:hover {
  box-shadow: 7px 3px 7px white;
  transform: scale(1.15)
}

.container form:focus {
  border-color: blue;
}


#form {
  border: 2px solid black;
  display: none;
  background-color: rgb(202, 243, 215);
  text-align: center;
  border-radius: 10px;
  position: absolute;
}

.form-show{
  display:flex !important;
  flex-direction: column;
}

#form :focus {
  border-color: blue;
}

.title {
  margin: 5px 5px 10px 10px;
  padding: 5px 5px;

}

input {
  height: 60px;
  width: 360px;
  font-size: x-large;
  padding-left: 15px;
}

.description {
  margin: 5px 5px 10px 10px;
  padding: 5px 5px;
}

textarea {
  height: 250px;
  width: 360px;
  font-size: xx-large;
  padding-left: 15px;
}

#add-note {
  font-size: xx-large;
  margin: 10px 10px;
}

.save-btn {
  margin: 20px;
  margin-top: 5px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: x-large;
  background-color: rgb(132, 221, 154);
}


.note {
  border: 2px solid;
  gap: 10%;
  background-color: white;
  margin: 10px;
  height: 250px;
  width: 250px;
  padding: 6px;
  border-radius: 10px;
  transition: transform .1s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  /* transition: width 1s ease-in-out , height 1s ease-in-out; */
  /* font-family: 'Trebuchet MS', sans-serif; */
}
.close-icon{
  
  width: 40px;
}

.note>div {
  margin-left: 10px;
  font-family: 'Trebuchet MS', sans-serif;
}

.note:hover {
  /* transform: scale(1.1);  */
  box-shadow: 4px 6px 5px #42855B;
}
.bottom-content{
  border-top: 1px solid black;
  display: flex;
}
.bottom-content span{
  font-size: 0.8em;
}

.bold{
  font-weight: 700;
}
button{
  cursor: pointer;
}

footer {
  margin-top: 36%;
}

li {
  list-style-type: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  justify-content: flex-end;
}
.menu button{
  margin: 5px;
}

.menu{
  margin-left:15px;
}


.bottom-content{
  border-top: 2px solid black;
  padding-top: 15px;
  align-items: center;
  justify-content: space-around;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}